@model SEDC.BurgerApp.BLL.DTOs.Locations.LocationDetailsDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpensAt" class="control-label"></label>
                <input asp-for="OpensAt" class="form-control" />
                <span asp-validation-for="OpensAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosesAt" class="control-label"></label>
                <input asp-for="ClosesAt" class="form-control" />
                <span asp-validation-for="ClosesAt" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary"
                   asp-action="Index">
                    Back to List
                </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
